// VARIABLES


// Paleta

$color-palette-1: #264653;

$color-palette-2: #2a9d8f;

$color-palette-3: #e9c46a;

$color-palette-4: #f4a261;
$color-palette-4__variant: #8c3f01;

$color-palette-5: #e76f51;
$color-palette-5__variant: #992204;

$color-palette-6: #424242;