// VARIABLES


// Familias de fuentes

$font-family__body: 'Outfit', sans-serif; // Outfit Regular 400

$font-family__title: 'Prompt', sans-serif; // Prompt Bold 700 italic

$font-family__menu: 'Yellowtail', cursive; // Yellowtail Regular 400